.brick-bg {
  background-image: url("../img/brick-wall.jpeg"); }

.space-bg {
  background-image: url("../img/space.jpeg"); }

.nav-window {
  width: 50vw;
  height: 22.5vw;
  position: relative;
  z-index: 1;
  border: 1px solid #a3a3a3;
  border-bottom: 4px solid #ccc;
  border-radius: 8px; }

.nav-window.full-screen {
  transition: 1s ease-in 4s;
  height: 100%;
  width: 100%;
  border: 0px solid #d1d1d1;
  border-bottom: 0px solid #ccc;
  border-radius: 0px; }

.circle {
  width: 25%;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; }

.circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  opacity: 1; }

.circle.circle-fade-out {
  transition: opacity .5s ease-out 3.5s;
  opacity: 0; }

.alter-ego-designs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -67.5%);
  z-index: 1000;
  color: #000000;
  opacity: 1; }

.alter-ego-designs.icon-fade-out {
  transition: opacity .5s ease-out;
  opacity: 0; }

.fa-home {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translatey(-50%);
  opacity: 1;
  z-index: 100;
  transform: scale(1); }

.fa-home:active {
  transform: scale(0.9);
  opacity: .75; }

.fa-home.icon-fade-out {
  transition: opacity .5s ease-out;
  opacity: 0; }

.fa-home.slide-fade-right {
  animation: home-fade-right 10s forwards ease-in running; }

.fa-bars {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translatey(-50%);
  opacity: 1;
  z-index: 100;
  transform: scale(1); }

.fa-bars:active {
  transform: scale(0.9);
  opacity: .75; }

.fa-bars.icon-fade-out {
  transition: opacity .5s ease-out;
  opacity: 0; }

.fa-bars.slide-fade-right {
  animation: bars-fade-right 10s forwards ease-in running; }

.fa-bar-chart {
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translatey(-50%);
  opacity: 1;
  z-index: 100;
  transform: scale(1); }

.fa-bar-chart:active {
  transform: scale(0.9);
  opacity: .75; }

.fa-bar-chart.icon-fade-out {
  transition: opacity .5s ease-out;
  opacity: 0; }

.fa-bar-chart.slide-fade-left {
  animation: bar-chart-fade-left 10s forwards ease-in running; }

.fa-envelope {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translatey(-50%);
  opacity: 1;
  z-index: 100;
  transform: scale(1); }

.fa-envelope:active {
  transform: scale(0.9);
  opacity: .75; }

.fa-envelope.icon-fade-out {
  transition: opacity .5s ease-in;
  opacity: 0; }

.fa-envelope.slide-fade-left {
  animation: envelope-fade-left 10s forwards ease-in running; }

.icon {
  font-size: 1.5vw;
  color: #e5e5e5; }

@keyframes home-fade-right {
  0% {
    left: 10%;
    opacity: 1; }
  20% {
    left: 50%;
    opacity: 0;
    color: #fff;
    transform: translate(-50%, -50%); }
  30% {
    left: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%); }
  40% {
    left: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%); }
  50% {
    left: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    transform: scale(8); }
  65% {
    left: 50%;
    opacity: 0;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    transform: scale(8); }
  100% {
    left: 50%;
    opacity: 0;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    transform: scale(8); } }
@keyframes bars-fade-right {
  0% {
    left: 25%;
    opacity: 1; }
  20% {
    left: 50%;
    opacity: 0;
    color: #fff;
    transform: translate(-50%, -50%); }
  30% {
    left: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%); }
  40% {
    left: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%); }
  50% {
    left: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    transform: scale(8); }
  65% {
    left: 50%;
    opacity: 0;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    transform: scale(8); }
  100% {
    left: 50%;
    opacity: 0;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    transform: scale(8); } }
@keyframes envelope-fade-left {
  0% {
    right: 10%;
    opacity: 1; }
  20% {
    right: 50%;
    opacity: 0;
    color: #fff;
    transform: translate(50%, -50%); }
  30% {
    right: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(50%, -50%); }
  40% {
    right: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(50%, -50%); }
  50% {
    right: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(50%, -50%);
    transform: scale(8); }
  65% {
    right: 50%;
    opacity: 0;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(50%, -50%);
    transform: scale(8); }
  100% {
    right: 50%;
    opacity: 0;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(50%, -50%);
    transform: scale(8); } }
@keyframes bar-chart-fade-left {
  0% {
    right: 25%;
    opacity: 1; }
  20% {
    right: 50%;
    opacity: 0;
    color: #fff;
    transform: translate(50%, -50%); }
  30% {
    right: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(50%, -50%); }
  40% {
    right: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(50%, -50%); }
  50% {
    right: 50%;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(50%, -50%);
    transform: scale(8); }
  65% {
    right: 50%;
    opacity: 0;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(50%, -50%);
    transform: scale(8); }
  100% {
    right: 50%;
    opacity: 0;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(50%, -50%);
    transform: scale(8); } }
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #e6e6e3; }

.primary-color {
  color: #000000; }

.secondary-color {
  color: #fff; }

.primary-bg-color {
  background-color: #000000; }

.secondary-bg-color {
  background-color: #fff; }

.xs-height {
  height: 50px; }

.sm-height {
  height: 100px; }

.md-height {
  height: 150px; }

.lg-height {
  height: 250px; }

.xl-height {
  height: 500px; }

.full-vh {
  height: 100vh; }

.pink-floyd {
  font-family: 'pink-floyd', 'cursive'; }

.xs-font {
  font-size: 0.5em; }

.sm-font {
  font-size: 1em; }

.md-font {
  font-size: 1.25em; }

.lg-font {
  font-size: 1.5em; }

.xl-font {
  font-size: 2em; }

.xxl-font {
  font-size: 3em; }

.display-block {
  display: block; }

.display-inline-block {
  display: inline-block; }

.display-none {
  display: none; }

.margin-null {
  margin: 0; }

.padding-null {
  padding: 0; }

.fill {
  height: 100%;
  width: 100%; }

.flex {
  display: flex; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-space-around {
  justify-content: space-around; }

.justify-space-between {
  justify-content: space-between; }

.align-start {
  align-items: flex-start; }

.align-end {
  align-items: flex-end; }

.align-center {
  align-items: center; }

.align-space-around {
  align-items: space-around; }

.align-space-between {
  align-items: space-between; }

.position-relative {
  position: relative; }

.position-fixed {
  position: fixed; }

.position-absolute {
  position: absolute; }

.top-0 {
  top: 0px; }

.bottom-0 {
  bottom: 0px; }

.left-0 {
  left: 0px; }

.right-0 {
  right: 0px; }

.img-fill {
  background-size: cover;
  background-position: center; }

.attatchment-fixed {
  background-attachment: fixed; }

.hidden {
  visibility: hidden; }

@font-face {
  font-family: 'pink-floyd';
  src: url("../fonts/pinkfloyd.ttf"); }

/*# sourceMappingURL=styles.css.map */
